{% load compress %}
{% load static %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <link rel="canonical" href="https://persistem.com" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Persistem | {% block "title" %} Home {% endblock %}</title>

    <meta name="title" content="Persistem - Persistem Academy" />
    <meta
      name="description"
      content="Get started with a free and open-source landing page built with Tailwind CSS and the Flowbite component library."
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Themesberg" />

    <!-- Social media share -->
    <meta property="og:title" content="Persistem" />
    <meta property="og:site_name" content="persistem" />
    <meta property="og:url" content="https://persistem.com" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="" />
    <meta property="og:image"
    content=https://themesberg.s3.us-east-2.amazonaws.com/public/github/landwind/og-image.png>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@themesberg" />
    <meta name="twitter:creator" content="@themesberg" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    {% endcompress %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body class="">
    {% include "components/header.html" %}

    {% block 'content' %}
    {% endblock %}

    {% include "components/footer.html" %}
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
  </body>
</html>
